a{
    text-decoration: none;
        color: #00ad6a;
}
ul, ol{
    list-style-type: none;
}
body{
    font-family: 'Work Sans', sans-serif ;
    padding: 0;
    margin: 0;
}
html,
        body, section {
            margin: 0;
            padding: 0;
        }
        
header{
            background-color: #eafaf1;
}
.logo-img{ 
    fill:#00ad6a;
}
.logo-img:hover{
    fill:#080c16;
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    align-items: center;
    flex-shrink: 0;
}
.link-list{
    display: flex;
    gap: 40px;
    font-weight: 700;
    color: #00ad6a;
    line-height: 1.2;
    margin-left: auto;
    letter-spacing: 0.02em;
    align-items: center;

}
.link-item:hover{
color: #080c16;
}
.button{
    font-weight: 700;
        color: #00ad6a;
        line-height: 1.2;
        display: flex;
        flex-shrink: 0;
        margin-left: 40px;
        margin-right: 100px;
        background-color: #fcfcfc;
        border: 2px solid #00ad6a;
        padding: 5px 20px;
        transition: transform 250ms cubic-bezier(0.39, 0.575, 0.565, 1), box-shadow 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button:hover{
    transform: translate(10%, 10%);
    box-shadow: -10px 5px 0px 0px rgba(0, 173, 106, 1);
}
.price-list{
        background-color: #eafaf1;
        margin: 0;
        padding: 0;
}
.main-text{
    display: block;
    width: 530px;
    text-align: center;
    font-size: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    padding-top: 50px;
    margin-bottom: 15px;
}
.text-under{
    display: block;
    width: 500px;
    margin: auto;
    text-align: center;
    letter-spacing: 0.04em;
    font-size: 20px;
    font-weight: 300;
}
.pulse-basic{
    font-size: 19px;
    color:#00ad6a;
}
.container-main{
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;
}
.basic-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: 0px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0.02em;
}
.basic-list{
    list-style-type:disc;
    padding: 0 10px;
}
.business-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0.02em;
    width: 450px;
    margin-left: 30px;
    border: 2px solid #00ad6a;
    border-radius: 3%;
    background-color: #fcfcfc;
box-sizing: border-box;
position: relative;
    overflow: hidden;
    flex-shrink: 0;
}
.heading-small-bus{
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 0;
    width: 250px;
    text-align: center;
    line-height: 1.1;
    color:#00ad6a;
}
.business-plan::before{
    content: "recommended";
    text-transform: uppercase;
    color: #fcfcfc;
    background-color: #00ad6a;
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-radius: 3%;
    border: 1px solid #00ad6a;
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 2px;
    box-sizing: border-box;
    position: absolute;
}
.business-price{
    margin-top: 5px;
}
.button-sign{
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #00ad6a;
    background-color: #1fe374;
    padding: 8px 10px;
    color:#080c168d;
    transition: transform 250ms cubic-bezier(0.39, 0.575, 0.565, 1),
        box-shadow 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-sign:hover {
    box-shadow: -5px -5px 0px 0px #1fe374;
    color: #080c16;
}
.text-business{
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    text-align:center;
    color: #080c16;
}
.bullet-point{
    position: relative;
    font-weight: 400;
    color:#080c16;
    padding-right: 10px;
}
.bullet-point::before{
    content:"✓";
    position: absolute;
    top:1px;
    left: -16px;
}
.premium{
    display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: 0.02em;
        width: 375px;
        margin-left: 30px;
        border: 2px solid #00ad6a;
        background-color: #fcfcfc;
        box-sizing: border-box;
        flex-shrink: 0;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
}
.premium::before{
    content: "Complex business with multiple financial accounts, currencies, or auditing needs?";
    position: absolute;
    top: -70px;
    text-align: center;
    background-color:#d6dae579 ;
    padding-bottom: 11px;
    top: 0;
    padding-top: 10px;
    overflow: hidden;
}
.extra-feat{
    font-weight: 400;
    padding-top: 100px;
    color:#00ad6a;
    margin-bottom: 0;
}
.business-price {
    margin-top: 5px;
}
.section-faq{
    background-color: #fcfcfc;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
        flex-wrap: wrap;
        display: flex;

}
.question-head{
    padding-top: 70px;
    margin-left: 40px;
    font-size: 50px;
        flex-wrap: wrap;
}
.question-blocks{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 0;
    justify-content: center;
    
    
}
.one-question{
    display: flex;
    flex-direction: column;
        flex-wrap: wrap;
    height: 200px;
    max-width: 550px;
}
footer{
    display: block;
    background-color: #080c16;
    padding: 0;
}
.logo-footer{
    fill:#00ad6a;
    display: block;
    text-align: center;
    margin-left:auto;
    margin-right:auto ;
    margin-top: 30px;
}
.footer-button{
    color:#000000f7;
    background-color: #00ad6a;
    padding: 18px 30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 240px;
    position: relative;
    transition: transform 250ms cubic-bezier(0.39, 0.575, 0.565, 1),
        box-shadow 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.footer-button:hover{
    box-shadow: -10px -8px 0px 0px #1fe374;
}
.first-column{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    padding-bottom: 50px;
}
.first-column p{
    color:#fcfcfc;
    padding-bottom: 2px;
}
.first-links:hover{
    color:#fcfcfc;
}
.footer-bottom{
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: baseline;
}
.second-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.second-column p{
    color: #fcfcfc;

}
.list-resour{
    display: flex;
        flex-direction: column;
    gap: 10px;
}
.resourses p{
    color: #fcfcfc;
}